@import './custom-color';

.navbar-light .navbar-nav .nav-link{
    font-weight: bold;
}
// 調整選單字體的顏色
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-toggler {
    color: rgba($horsetailGreen, .5);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba($horsetailGreen, .8);
}

.navbar-light .navbar-nav .active .nav-link {
    color: rgba($horsetailGreen, .9);
}